﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="Liberating Solution">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>The Motion Of Gratitude</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="~/admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/icomoon/style.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/switchery/switchery.min.css" rel="stylesheet">


    <!-- Theme Styles -->
    <link href="~/admin/assets/css/concept.min.css" rel="stylesheet">
    <link href="~/admin/assets/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Page Container -->
    <div class="page-container">
        @RenderBody()
        <!-- Page Sidebar -->
        <div class="page-sidebar">
            <div class="profile-menu">
                <a href="app-profile.html">
                    <img src="~/admin/assets/images/avatars/avatar1.png" alt="">
                </a>
            </div>
            <div class="page-sidebar-inner">
                <div class="page-sidebar-menu">
                    <ul>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="Dashboard"><i class="fas fa-rocket"></i></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="News"><i class="fas fa-globe-africa"></i></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="Inbox"><i class="fas fa-inbox"></i></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="Chat"><i class="far fa-comments"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="settings-menu-btn">
                <a href="#" class="settings-menu-link"><i class="fas fa-wrench"></i></a>
            </div>
        </div><!-- /Page Sidebar -->
        <div class="settings-sidebar">
            <div class="settings-sidebar-content">
                <div class="settings-sidebar-header">
                    <span>Settings</span>
                    <a href="javascript: void(0);" class="settings-menu-close"><i class="icon-close"></i></a>
                </div>
                <div class="right-sidebar-settings">
                    <span class="settings-title">General Settings</span>
                    <ul class="sidebar-setting-list list-unstyled">
                        <li>
                            <span class="settings-option">Notifications</span><input type="checkbox" class="js-switch" checked />
                        </li>
                        <li>
                            <span class="settings-option">Activity log</span><input type="checkbox" class="js-switch" checked />
                        </li>
                        <li>
                            <span class="settings-option">Automatic updates</span><input type="checkbox" class="js-switch" />
                        </li>
                        <li>
                            <span class="settings-option">Allow backups</span><input type="checkbox" class="js-switch" />
                        </li>
                    </ul>
                    <span class="settings-title">Account Settings</span>
                    <ul class="sidebar-setting-list list-unstyled">
                        <li>
                            <span class="settings-option">Chat</span><input type="checkbox" class="js-switch" checked />
                        </li>
                        <li>
                            <span class="settings-option">Incognito mode</span><input type="checkbox" class="js-switch" />
                        </li>
                        <li>
                            <span class="settings-option">Public profile</span><input type="checkbox" class="js-switch" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="settings-overlay"></div>
        <!-- Page Content -->
        <div class="page-content">
            <div class="secondary-sidebar">
                <div class="secondary-sidebar-bar">
                    <a href="#" class="logo-box">concept</a>
                </div>
                <div class="secondary-sidebar-menu">
                    <ul class="accordion-menu">
                        <li class="active-page">
                            <a href="index.html">
                                <i class="menu-icon icon-home4"></i><span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-apps"></i><span>Products</span><i class="accordion-icon fas fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="app-mailbox.html">All Products</a></li>
                                <li><a href="app-mailbox.html">Add Product</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-apps"></i><span>Categories</span><i class="accordion-icon fas fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="app-mailbox.html">All Categories</a></li>
                                <li><a href="app-mailbox.html">Add Category</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-apps"></i><span>Orders</span><i class="accordion-icon fas fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="app-mailbox.html">All Orders</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-apps"></i><span>Customers</span>
                            </a>

                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-apps"></i><span>Analytics</span>
                            </a>

                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-apps"></i><span>Marketing</span>
                            </a>

                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-apps"></i><span>Discounts</span>
                            </a>

                        </li>
                                       
                
                        <li>
                            <a href="charts.html">
                                <i class="menu-icon icon-show_chart"></i><span>Analytics</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-star"></i><span>Pages</span><i class="accordion-icon fas fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="invoice.html">Invoice</a></li>
                                <li><a href="404.html">404 Page</a></li>
                                <li><a href="500.html">500 Page</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="help-center.html">Help Center</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="lockscreen.html">Lockscreen</a></li>
                                <li><a href="pricing-tables.html">Pricing Tables</a></li>
                            </ul>
                        </li>
                        <li class="menu-divider"></li>
                        <li>
                            <a href="#">
                                <i class="menu-icon icon-help_outline"></i><span>Documentation</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="menu-icon icon-public"></i><span>Changelog</span><span class="badge badge-danger">1.0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Page Header -->
            <div class="page-header">
                <div class="search-form">
                    <form action="#" method="GET">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="close-search" type="button"><i class="icon-close"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <nav class="navbar navbar-default navbar-expand-md">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <div class="logo-sm">
                                <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fas fa-bars"></i></a>
                                <a class="logo-box" href="index.html"><span>concept</span></a>
                            </div>
                            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <i class="fas fa-angle-down"></i>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->

                        <div class="collapse navbar-collapse justify-content-between" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav mr-auto">
                                <li class="collapsed-sidebar-toggle-inv"><a href="javascript:void(0)" id="collapsed-sidebar-toggle-button"><i class="fas fa-bars"></i></a></li>
                                <li><a href="javascript:void(0)" id="toggle-fullscreen"><i class="fas fa-expand"></i></a></li>
                                <li><a href="javascript:void(0)" id="search-button"><i class="fas fa-search"></i></a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item d-md-block"><a href="javascript:void(0)" class="right-sidebar-toggle" data-sidebar-id="main-right-sidebar"><i class="fas fa-envelope"></i></a></li>
                            <li class="dropdown nav-item d-md-block">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-lg dropdown-content">
                                    <li class="drop-title">Notifications<a href="#" class="drop-title-link"><i class="fas fa-angle-right"></i></a></li>
                                    <li class="slimscroll dropdown-notifications">
                                        <ul class="list-unstyled dropdown-oc">
                                            <li>
                                                <a href="#">
                                                    <span class="notification-badge bg-info"><i class="fas fa-at"></i></span>
                                                    <span class="notification-info">
                                                        <span class="notification-info"><b>John Doe</b> mentioned you in a post "Update v1.5"</span>
                                                        <small class="notification-date">06:07</small>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="notification-badge bg-danger"><i class="fas fa-bolt"></i></span>
                                                    <span class="notification-info">
                                                        <span class="notification-info">4 new special offers from the apps you follow!</span>
                                                        <small class="notification-date">Yesterday</small>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="notification-badge bg-success"><i class="fas fa-bullhorn"></i></span>
                                                    <span class="notification-info">
                                                        <span class="notification-info">There is a meeting with <b>Ethan</b> in 15 minutes!</span>
                                                        <small class="notification-date">Yesterday</small>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown nav-item d-md-block">
                                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="~/admin/assets/images/avatars/avatar1.png" alt="" class="rounded-circle"></a>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Calendar</a></li>
                                    <li><a href="#"><span class="badge float-right badge-info">64</span>Messages</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Account Settings</a></li>
                                    <li><a href="#">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.container-fluid -->
                </nav>
            </div><!-- /Page Header -->
            <!-- Page Inner -->
            <div class="page-inner no-page-title">
                <div id="main-wrapper">
                    <div class="content-header">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-style-1">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                        <h1 class="page-title">Dashboard</h1>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="ds-stat">
                                                <span class="ds-stat-name">Earnings</span>
                                                <h3 class="ds-stat-number">$67,856<span class="ds-stat-percent"><i class="fas fa-caret-up"></i>23%</span></h3>
                                                <div class="progress" style="height: 3px;">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="ds-stat">
                                                <span class="ds-stat-name">Visitors</span>
                                                <h3 class="ds-stat-number">104,679<span class="ds-stat-percent"><i class="fas fa-caret-down"></i>7%</span></h3>
                                                <div class="progress" style="height: 3px;">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="ds-stat">
                                                <span class="ds-stat-name">Support Questions</span>
                                                <h3 class="ds-stat-number">457<span class="ds-stat-percent"><i class="fas fa-caret-up"></i>31%</span></h3>
                                                <div class="progress" style="height: 3px;">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="ds-stat">
                                                <span class="ds-stat-name">Net Revenue</span>
                                                <h3 class="ds-stat-number">$53,980<span class="ds-stat-percent"><i class="fas fa-caret-up"></i>16%</span></h3>
                                                <div class="progress" style="height: 3px;">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Monthly Earnings</h5>
                                    <div id="apex1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Popular Products</h5>
                                    <div class="popular-products">
                                        <canvas id="chartjs1">Your browser does not support the canvas element.</canvas>
                                        <div class="popular-product-list">
                                            <ul class="list-unstyled">
                                                <li id="popular-product1">
                                                    <span>Alpha - Material Design</span>
                                                    <span class="product-color">59%</span>
                                                </li>
                                                <li id="popular-product2">
                                                    <span>Space - Light Theme</span>
                                                    <span class="product-color">15%</span>
                                                </li>
                                                <li id="popular-product3">
                                                    <span>Modern - Admin Dashboard</span>
                                                    <span class="product-color">26%</span>
                                                </li>
                                            </ul>
                                            <div class="alert alert-info" role="alert">
                                                Based on last week's earnings.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-warning alert-dismissible fade show m-b-md" role="alert">
                                Activity reports have been updated 2 days ago. <a href="#" class="alert-link">Click here</a> to see the old data.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-body">
                                    <div class="info-card">
                                        <h4 class="info-title">Sales This Month<span class="info-stats">45.6k</span></h4>
                                        <div class="progress" style="height: 3px;">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-body">
                                    <div class="info-card">
                                        <h4 class="info-title">Unique Visitors<span class="info-stats">1.2k</span></h4>
                                        <div class="progress" style="height: 3px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-body">
                                    <div class="info-card">
                                        <h4 class="info-title">Memory Usage<span class="info-stats">82.6GB</span></h4>
                                        <div class="progress" style="height: 3px;">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Last Orders</h5>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Product</th>
                                                    <th scope="col">Customer</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">07809</th>
                                                    <td>Alpha - Angular 8</td>
                                                    <td>Chritopher Palmer</td>
                                                    <td>Dec 15, 2019</td>
                                                    <td><span class="badge badge-info">In Progress</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">07068</th>
                                                    <td>Modern - PSD</td>
                                                    <td>Stuart Woodley</td>
                                                    <td>Nov 29, 2019</td>
                                                    <td><span class="badge badge-info">In Progress</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">08392</th>
                                                    <td>Mobile App Theme</td>
                                                    <td>Murphy Cartwright</td>
                                                    <td>Nov 12, 2019</td>
                                                    <td><span class="badge badge-success">Finished</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">09415</th>
                                                    <td>CRM Application</td>
                                                    <td>Gurpreet Holder</td>
                                                    <td>Jul 8, 2019</td>
                                                    <td><span class="badge badge-danger">Canceled</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">08678</th>
                                                    <td>Crypto Exchange</td>
                                                    <td>Marshall Wheeler</td>
                                                    <td>Feb 17, 2019</td>
                                                    <td><span class="badge badge-danger">Canceled</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">08446</th>
                                                    <td>Alpha - Bootstrap Version</td>
                                                    <td>Nikki Blanchard</td>
                                                    <td>Dec 26, 2018</td>
                                                    <td><span class="badge badge-success">Finished</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Main Wrapper -->


                <div class="page-footer">
                    <p>2019 &copy; Liberating Solution</p>
                </div>
            </div><!-- /Page Inner -->
            <div class="page-right-sidebar" id="main-right-sidebar">
                <div class="page-right-sidebar-inner">
                    <div class="right-sidebar-top">
                        <span class="chat-header">Chat</span>
                        <a href="javascript:void(0)" class="right-sidebar-toggle right-sidebar-close" data-sidebar-id="main-right-sidebar"><i class="icon-close"></i></a>
                    </div>
                    <div class="right-sidebar-content">
                        <!-- Tab panes -->
                        <div class="chat-list">
                            <span class="chat-title">Recent</span>
                            <a href="javascript:void(0);" class="right-sidebar-toggle chat-item unread" data-sidebar-id="chat-right-sidebar">
                                <div class="user-avatar">
                                    <img src="~/admin/assets/images/avatars/avatar1.png" alt="">
                                </div>
                                <div class="chat-info">
                                    <span class="chat-author">David</span>
                                    <span class="chat-text">Hello there!</span>
                                    <span class="chat-time">16:20</span>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="right-sidebar-toggle chat-item unread active-user" data-sidebar-id="chat-right-sidebar">
                                <div class="user-avatar">
                                    <img src="~/admin/assets/images/avatars/avatar2.png" alt="">
                                </div>
                                <div class="chat-info">
                                    <span class="chat-author">Bob</span>
                                    <span class="chat-text">Hello there!</span>
                                    <span class="chat-time">11:34</span>
                                </div>
                            </a>
                        </div>
                        <div class="chat-list">
                            <span class="chat-title">Older</span>
                            <a href="javascript:void(0);" class="right-sidebar-toggle chat-item" data-sidebar-id="chat-right-sidebar">
                                <div class="user-avatar">
                                    <img src="~/admin/assets/images/avatars/avatar3.png" alt="">
                                </div>
                                <div class="chat-info">
                                    <span class="chat-author">Tom</span>
                                    <span class="chat-text">Hello there!</span>
                                    <span class="chat-time">2d</span>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="right-sidebar-toggle chat-item active-user" data-sidebar-id="chat-right-sidebar">
                                <div class="user-avatar">
                                    <img src="~/admin/assets/images/avatars/avatar4.png" alt="">
                                </div>
                                <div class="chat-info">
                                    <span class="chat-author">Anna</span>
                                    <span class="chat-text">Hello there!</span>
                                    <span class="chat-time">4d</span>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="right-sidebar-toggle chat-item active-user" data-sidebar-id="chat-right-sidebar">
                                <div class="user-avatar">
                                    <img src="~/admin/assets/images/avatars/avatar5.png" alt="">
                                </div>
                                <div class="chat-info">
                                    <span class="chat-author">Noah</span>
                                    <span class="chat-text">Hello there!</span>
                                    <span class="chat-time">&nbsp;</span>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="load-more-messages" data-toggle="tooltip" data-placement="bottom" title="Load More">&bull;&bull;&bull;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-right-sidebar" id="chat-right-sidebar">
                <div class="page-right-sidebar-inner">
                    <div class="right-sidebar-top">
                        <div class="chat-top-info">
                            <span class="chat-name">Noah</span>
                            <span class="chat-state">2h ago</span>
                        </div>
                        <a href="javascript:void(0)" class="right-sidebar-toggle chat-sidebar-close float-right" data-sidebar-id="chat-right-sidebar"><i class="icon-keyboard_arrow_right"></i></a>
                    </div>
                    <div class="right-sidebar-content">
                        <div class="right-sidebar-chat slimscroll">
                            <div class="chat-bubbles">
                                <div class="chat-start-date">02/06/2017 5:58PM</div>
                                <div class="chat-bubble them">
                                    <div class="chat-bubble-img-container">
                                        <img src="~/admin/assets/images/avatars/avatar1.png" alt="">
                                    </div>
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">Hello</span>
                                    </div>
                                </div>
                                <div class="chat-bubble me">
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">Hello!</span>
                                    </div>
                                </div>
                                <div class="chat-start-date">03/06/2017 4:22AM</div>
                                <div class="chat-bubble me">
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">lorem</span>
                                    </div>
                                </div>
                                <div class="chat-bubble them">
                                    <div class="chat-bubble-img-container">
                                        <img src="~/admin/assets/images/avatars/avatar1.png" alt="">
                                    </div>
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">ipsum dolor sit amet</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-write">
                            <form class="form-horizontal" action="javascript:void(0);">
                                <input type="text" class="form-control" placeholder="Say something">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /Page Content -->
    </div><!-- /Page Container -->
    <!-- Javascripts -->
    <script src="~/admin/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/admin/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/admin/assets/plugins/switchery/switchery.min.js"></script>
    <script src="~/admin/assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/admin/assets/plugins/chartjs/chart.min.js"></script>
    <script src="~/admin/assets/js/concept.min.js"></script>
    <script src="~/admin/assets/js/pages/dashboard.js"></script>
</body>
</html>

